@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root {
  --text-primary: #ebebeb;
  --text-secondary: #6b6b6b;

  --primary: #1991FF;
  --secondary: #16191C;
  --acent: #0b0c0c;

  --gradient: 180deg, 
    rgba(0, 0, 0, 0.4) 0%, 
    rgba(255, 255, 255, 0.01) 100%;

  --gradient-hover: 180deg, 
    rgba(0, 0, 0, 0.3) 0%, 
    rgba(255, 255, 255, 0.05) 100%;


  --shadow: 0px 12px 7px 0px rgba(0, 0, 0, 0.2), 
         0px 7px 7px 0px rgba(0, 0, 0, 0.04), 
         0px 4px 6px 0px rgba(0, 0, 0, 0.10), 
         0px 2px 4px 0px rgba(0, 0, 0, 0.26), 
         0px 0px 2px 0px rgba(0, 0, 0, 0.29), 
         0px 2px 3px 0px rgba(255, 255, 255, 0.06) inset;
 
  --font: 'Rubik', sans-serif;

  font-family: var(--font);
  line-height: 1.5;
  font-weight: 400;

  color: var(--text-primary);
  background-color: var(--secondary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

